[workspace]

members = ["traits", "filters", "sinks", "sources", "pipes", "signalo"]

[replace]
"signalo:0.5.0" = { path="signalo" }
"signalo_traits:0.3.0" = { path="traits" }
"signalo_filters:0.6.0" = { path="filters" }
"signalo_sinks:0.5.1" = { path="sinks" }
"signalo_sources:0.5.1" = { path="sources" }
"signalo_pipes:0.5.0" = { path="pipes" }
