name: Other

on:
  push:
    branches: [main]
  pull_request:
    branches: [main, "**"]

jobs:
  check:
    name: Check license headers
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: apache/skywalking-eyes@v0.7.0
        with:
          log: info
          config: .github/configs/skywalking-eyes.yml
          token: "" # disables auto-commenting on PRs
